<div class="main" id="maintext">
  <div class="main__inner">
    <div class="main__title">Promotion Rules</div>
    <div class="main__body">
      <p class="main__paragraph">
          111. All deposits made between 06/22/2020 00:00 (GMT +3) and 06/27/2020 23:59 (GMT +3) take part in the promotion.
      </p>
    </div>
    <ul>
      ==== {{phone.phone_numbers}} ====
      {% for item in menu.menu_info %}
        <li>{{ item.name }}</li>
      {% else %}
        <li>This would display if the 'item' collection were empty</li>
      {% endfor %}
    </ul>
  </div>
</div>